<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <style>


</style>

</head>
<body>


<h1>Grandpy Bot <img id="imgbot" src="{{url_for('static', filename='image/robot.png')}}" alt="c'est le grandpy robot" height="100" width="50">
</h1>
    <div id="bodychat">
    <form>

<input type="text" id="formtext">
        <button id="buttonsubmit" >Envoye</button>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>