<!DOCTYPE html>
<html lang="en">
<head>

      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Chat</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <style>


</style>

</head>
<body>
<div class="jumbotron text-center">
  <h1>GrandPy Bot</h1>
  <p>Tu lui poses des questions, il te répond.</p>
</div>

<h1>Grandpy Bot <img id="imgbot" src="{{url_for('static', filename='image/robot.png')}}" alt="c'est le grandpy robot" height="100" width="50">
</h1>
    <div id="bodychat">
        <div id="chatresponse">
                    <div id="displaycard" style="width: 300px; height: 300px;"></div>

        </div>
    <form id="formchat">

<input type="text" id="formtext">
        <button id="buttonsubmit" >Envoye</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCFRB_ipsZztDSGoRwKOsnhXiWOKzi2YyU"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.googlemap/1.5.1/jquery.googlemap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.googlemap/1.5.1/jquery.googlemap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.min.js" integrity="sha512-gauu0VKZq9ry8hOZHgNpcB2ogbSDojs+XLDItpOLY0IyA+KigeuT/suwSdPgfU/TGYLAn4Nan4OeaCa/UPr70Q==" crossorigin="anonymous"></script>


<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>



</body>
</html>