<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    <title>GrandPy Bot</title>

    <style>

        body {
            margin: 0;
            padding: 0;
            font: 12px sans-serif;
        }
        h1, p {
            margin: 0;
            padding: 0;
        }

    </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>GrandPy Bot</h1>
  <p>Tu lui poses des questions, il te répond.</p>
</div>
<div class="container">

<div class="maps">
    <div class="map"></div>
</div>
<p id="parg">


    <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Demandes ce que tu veux</span>
  </div>
  <textarea class="form-control" aria-label="With textarea" id="textInput"></textarea>
</div>

    <button type="button" class="btn btn-primary" id="butoned">Envoyes à Grandpa</button>
</p>

    </div>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>`

<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing">
</script>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFRB_ipsZztDSGoRwKOsnhXiWOKzi2YyU&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    jQuery( function( $ )
    {


        var i = 1;

        //  initMap( $( '.map' ) );

        function initMap( $map, lat,lng )
        {
            var myOptions = {
                center: new google.maps.LatLng( lat, lng ),
                zoom: 14,

            };


            var drawingManager = new google.maps.drawing.DrawingManager();
            var map = new google.maps.Map( $map[0], myOptions );
            drawingManager.setMap( map );

                                const marker = new google.maps.Marker({
                    position : new google.maps.LatLng( lat, lng ),
                                    map: map


                })
        }



        $('body').on( 'click', '#butoned', function()
        {
        //alert('click on body');
            /*
            i++;
            $( '.maps' ).append( '<div class="map-' + i + '" style="width: 800px; height: 500px;"></div>' );
            initMap( $( '.map-' + i ) );

            */
                    $.ajax({
            data: {
                message:"hey this is my message",
                message_deux : $('#textInput').val()
            },
            type: "POST",
            url: '/processing',


        })


            .done(function(data){

                if (data.retmessage == "worked"){
                    alert('it worked');
                    //$('#parg').append('<p>'+ data.retmessage+'</p>')
                    lattitude_resp = data.latitude;
                    longitude_resp = data.longitude;
                                i++;

            $( '.maps' ).append( '<div class="map-' + i + '" style="width: 800px; height: 500px;"></div>' );
                           $('.maps').append("<p>"+data.result_search +"</p>");

            initMap( $( '.map-' + i ),lattitude_resp, longitude_resp );

                }else{

                $('body').append(data.suggestion_search)

                }



                })

        } );






    } );
</script>
</body>
</html>